*{
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

:root {
  --PADDING:2px;
  --MARGIN:2px;
  --ERROR-COLOR:#fc4b4b;
  --SUCCESS-COLOR:#3af93a;
  --BORDER-RADIUS:7px;
  --BORDER:1px solid black;
  --TEXT-COLOR: #aa9c9c;
  --TEXT-SIZE: 15px;
  --IMOGI-SIZE:xx-large;  
  --HEADLINE-FONT-WEIGHT:900;
  --HEADLINE-FONT-SIZE:40px;
}

.center{
  display: flex;
  justify-content: center;
}

.userBox{
  width: 6rem;
  height: 6rem;
  margin: 15px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: var(--BORDER);
  border-radius: var(--BORDER-RADIUS);
}
.userBox-img{
  display: flex;
  margin: var(--MARGIN);
  font-size: var(--IMOGI-SIZE);
}
.userBox-username-and-request{
  gap: 20px;
  display: flex;
  align-items: center;
  color: var(--TEXT-COLOR);
  font-size: var(--TEXT-SIZE);
}

.navbar{
  width: 100%;
  height: 5rem;
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--MARGIN);
  padding: var(--PADDING);
  border: var(--BORDER);
  border-radius: var(--BORDER-RADIUS);
}
.navbar-left{
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.img{
  display: flex;
  margin: var(--MARGIN);
  font-size: var(--IMOGI-SIZE);
}
.navbar .logout{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.container{
  width: 13cm;
  height: 10cm;
  display: flex;
  overflow: overlay;
  align-items: center;
  flex-direction: column;
  border: var(--BORDER);
  margin: var(--MARGIN);
  padding: var(--PADDING);
  border-radius: var(--BORDER-RADIUS);
}

.container-left{
  padding: var(--PADDING);
  margin: var(--MARGIN);
  width: 90%;
  height: fit-content;
  max-height: fit-content;
  border: var(--BORDER);
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-left-horizontal{
  margin-top: 7px;
  width: 90%;
  height: fit-content;
  max-height: fit-content;
  overflow: auto;
  border: var(--BORDER);
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search{
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 30px;
  height: 2.5rem;
  width: 17rem;
  font-size: 1.5rem;
}
.input1{
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 30px;
  height: 1.5rem;
  width: 13rem;
  font-size: 1rem;
}

.button{
  padding: 7px;
  margin: 7px;
  border: 1px solid black;
  border-radius: 7px;
  height: 1rem;
  width: 7rem;
  font-size: 1rem;
}

.heading{
  font-size: var(--HEADLINE-FONT-SIZE);
  font-weight: var(--HEADLINE-FONT-WEIGHT);
}

.error{
  color: var(--ERROR-COLOR);
}


.select,
.option{
  padding: var(--PADDING);
  margin: var(--MARGIN);
  height: 2rem;
  width: 5rem;
  border-radius: 18px;
}


.userBox-flat{
  height: auto;
  width: 90%;
  border-radius: var(--BORDER-RADIUS);
  gap: 10px
}

.text1{
  margin-top: 5px;
  font-size: 15px;
}